body {
	margin-top: 125px; /* adjust this if the height of the menu bar changes */
}

.navbar-fixed-top .nav {
	padding: 15px 0;
}

footer {
	padding: 30px 0;	
}

@media (max-width: 469px) {
 .map{
	width:300px;
	height:180px;
	border:1px solid #CECECE;
}
}
@media (min-width: 470px) and (max-width: 755px) {
 .map{
	width:400px;
	height:240px;
	border:1px solid #CECECE;
}
}

 @media (min-width: 756px) and (max-width: 900px){
 .map{
	width:500px;
	height:300px;
	border:1px solid #CECECE;
}
}

 @media (min-width: 901px){
 
	.map{
		width:750px;
		height:450px;
		border:1px solid #CECECE;
	}
}

@media (max-width: 767px){
	.navLogo{
		height: 46px !important;
		width: 73px !important;
	}

	.navbar-brand{
		padding: 5px 10px !important;
	}

	body{
		margin-top: 75px;
	}
}

.carousel-indicators li {
    background-color: #000000;
}
.carousel-indicators .active {
    background-color: #428bca;
}

.carousel-mal{
	min-height: 150px;
}